@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

$h1: 48px;
$h2: 24px;
$h3: 20px;
$h4: 14px;
$p: 14px;
$span: 12px;

h1{
	font-size: $h1;
}
h2{
	font-size: $h2;
}
h3{
	font-size: $h3;
}
h4{
	font-size: $h4;
}
p{
	font-size: $p;
}
span.small{
	font-size: $span;
	font-family: 'JetBrains Mono', monospace;
}
a{
	text-decoration: none;
	color: inherit;
}

body, html{
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	background-color: #000;
	color: white;
}

.interface{
	width: 900px;
	background-color: black;
	border: 2px solid #fff;
	color: white;
	border-radius: 25px;
	display: block;
	margin: auto;
	margin-top: 24px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1{
		padding: 0;
		margin: 0;
		text-align: center;
	}
	p{
		margin: 24px 0 0 0;
	}
}

.buttons{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	.button {
		padding: 5px 20px;
		margin: 0 10px;
		border: 1px solid #fff;
		display: block;
		width: 100px;
		border-radius: 25px;
		background-color: #000;
		text-align: center;
		transition: all 0.4s ease-in-out;
		&:hover, &.selected{
			cursor: pointer;
			background-color: #fff;
			color: #000;
		}
	}
}

.btn {
	margin-top: 24px;
	padding: 5px 20px;
	border: 1px solid #fff;
	display: block;
	width: 100px;
	border-radius: 25px;
	background-color: #000;
	text-align: center;
	transition: all 0.4s ease-in-out;
	font-size: 18px;

	&:hover,
	&.selected {
		cursor: pointer;
		background-color: #fff;
		color: #000;
	}
}

form{
	margin-top: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.text-input{
		border: none;
		color: #fff;
		margin-top: 10px;
		width: 95%;
		background-color: transparent;
		font-size: 48px;
		&:focus {
			outline: 0;
		}
	}
}

.grid{
	.infinite-scroll-component{
		display: flex;
		flex-wrap: wrap;
	}
	.object{
		width: 12vw;
		margin: 4vw;
		display: block;
		p, span, h2{
			margin: 0;
		}
		.cover-image{
			margin-top: 10px;
			position: relative;
		}
		.info{
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
		.color-dot{
			width: 12px;
			height: 12px;
			border-radius: 50%;
			margin-left: 5px;
			&.yellow1{
				background-color: yellow;
			}
			&.blue1{
				background-color: blue;
			}
			&.yellow2{
				background-color: yellow;
			}
			&.blue2{
				background-color: blue;
			}
			&.green2{
				background-color: green;
			}
			&.gold2{
				background-color: gold;
			}
			&.purple2{
				background-color: purple;
			}
		}
	}
}

.display{
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	color: white;
	div{
		width: 50%;
	}
	.object-info{
		border-right: 1px solid white;
		.wrapper{
			width: 90%;
		}
	}
	h1{
		font-weight: 300;
		width: 97.5%;
		padding-left: 2.5%;
		padding-bottom: 14px;
		line-height: 1;
		height: 52px;
		font-size: 48px;
		text-align: center;
	}
	h2{
		font-weight: 300;
		font-size: 48px;
	}
	h3{
		font-size: 36px;
		font-weight: 300;
		line-height: 1;
		margin: 10px 0;
		display: flex;
		justify-content: space-between;
	}
	.preview-image {
		width: 80%;
		height: 80%;
		display: block;
		margin: auto;
		margin-top: 14px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.images{
		display: flex;
		margin-top: 48px;
		width: 100%;
		.image{
			width: auto;
			height: auto;
			position: relative;
			margin-right: 14px;
			&.front-cover, &.back-cover{
				width: 100px;
			}
			div{
				width: 100%;
				height: 100%;
				padding: 0;
				position: relative !important;
				div {
					width: 0;
					height: 0;
					padding: 0!important;
					position: relative !important;
				}
				img {
					object-fit: contain !important;
					width: 100% !important;
					height: 100px !important;
					position: relative!important;
				}
			}
		}
	}
}

.category{
	transition: all 0.4s ease-in-out;
	padding: 10px 20px;
	border-radius: 25px;
	&.selected {
		cursor: pointer;
		background-color: #fff;
		color: #000;
	}
}

.upload-button{
	color: white;
	display: none;
}

.object-page{
	width: 95%;
	margin: 1% 2.5%;
	.flex{
		display: flex;
	}
	.main-info{
		width: 40%;
		span{
			display: block;
			line-height: 1.5;
		}
		.small-info{
			margin-top: 24px;
		}
	}
	.scroll{
		width: 60%;
		display: flex;
		margin: 24px auto;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.image{
			margin: 48px 0;
		}
	}
	.image{
		width: 60%;
		height: 95vh;
	}
	h1, h2, h3{
		margin: 0;
	}
	.cover-image{
		height: 95vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		div{
			height: 100%;
			width: 100%;
		}
		img{
			object-fit: contain;
			height: 100%;
			width: auto;
		}
	}
}